body {
    background: linear-gradient(black, rgb(60, 0, 0));
    height: 729px;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria img {
    max-width: 150px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
}



